
.dataTable {
    width: 200%;
    margin: auto;
    text-align: center;

}
Table{
        background-color: skyblue;


}
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}